@page "/ajustes"

<h2>Configuración</h2>

<span class="mb-2">Ajuste 1</span><br>
<span class="mb-2">Ajuste 2</span>
<br>
<span class="mb-2">Ajuste 3</span>
<br>
<span class="mb-2">Ajuste 4</span>
<br>
<span>...</span>

@code {

}
