@page "/listas"

<h2>Mis listas</h2>

@*Diseño exterior de las listas*@
<div class="mb-3">
    <div>
        Lista 1
        Lista 2
        Lista 3
        ...
    </div>
</div>

@*Diseño interior de las listas*@
<div>
    <div class="img-fluid" id="movie-info">
        <img src="..." class="img-fluid" alt="...">
    </div>
</div>


@code {

}
